.content_right {
    overflow: hidden;
}
.content_lots {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    margin-top: 1.25rem;
}
.lastlots_title {
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--grey-800);
    border-bottom: 1px solid var(--grey-300);
    margin-bottom: 1.25rem;
    padding-bottom: 0.4rem;
}
.lastlots_bgc {
    background-color: var(--grey-200);
    padding: 1.25rem;
}