

.search {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    .icon_wrap {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 .7rem;
        background-color: var(--grey-200);
        position: absolute;
        right: 0;
        cursor: pointer;
        svg {
            font-size: 1.5rem;
            fill: var(--grey-900);
        }
    }
}
.search_results {
    position: absolute;
    background-color: var(--white);
    z-index: 99;
    top: 11.85rem;
    width: 1140px;
    padding: 1.25rem;
    left: calc(50% - 570px);
}

.search_result {
    display: block;
    &:not(:last-child) {
        margin-bottom: 1.25rem;
    }
}