.search {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    .icon_wrap {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 .7rem;
        background-color: var(--grey-200);
        position: absolute;
        right: 0;
        cursor: pointer;
        svg {
            font-size: 1.5rem;
            fill: var(--grey-900);
        }
    }
}

.search_results {
    background-color: var(--white);
    z-index: 99;
    width: 1140px;
    left: calc(50% - 570px);
    position: fixed;
    overflow-y: scroll;
    height: 96vh;
    border-radius: 0.2rem;
    top: 0rem;
    margin: 1.25rem 0;
    & a:nth-child(2) {
        margin-top: 7.25rem;
    }
}

.search_result {
    display: block;
    padding: 1.25rem 1.25rem;
    color: var(--grey-900);
    border-bottom: 1px solid var(--grey-200);
    &:hover {  
        color: var(--white);
        background-color: var(--grey-600);
    }
}

.search_bgc {
    background-color: var(--grey-500);
    min-height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 80;
    opacity: 0.9;
}

.search_close {
    font-size: 2rem;
    z-index: 200;
}

.search_wrapper {
    display: flex;
    gap: 1.25rem;
    align-items: center;
    position: fixed;
    width: 100%;
    max-width: 1122px;
    background-color: var(--white);
    padding: 2.50rem 1.25rem;
    border-bottom: 1px solid var(--grey-200);
    svg {
        cursor: pointer;
    }
}