.input {
    height: 2.4rem;
    color: var(--grey-900);
    border-radius: 0.2rem;
    padding-left: 0.6rem;
    outline: none;
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid var(--grey-200);
    font-family: "Segoe UI", sans-serif;
    font-size: 1rem;
    &::placeholder {
        color: var(--grey-500);
        font-family: "Segoe UI", sans-serif;
        
    }
}