.slider {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  & > div {
    display: flex;
  }
}

.slide {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  color: var(--white);
  min-height: 30rem;
  h2 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--yellow-600);
  }
}

.slide1 {
  background: rgb(64, 175, 255);
  background: url('https://raw.githubusercontent.com/Yuri-Pashkevich/-torgi-presentation/gh-pages/assets/1.f9b5d414.png') center / cover;


}
.slide2 {
  background: rgb(255, 75, 64);
  background: url('https://raw.githubusercontent.com/Yuri-Pashkevich/-torgi-presentation/gh-pages/assets/3.05f535b3.jpeg') center / cover;

}
.slide3 {
  background: rgb(182, 255, 64);
  background: url('https://raw.githubusercontent.com/Yuri-Pashkevich/-torgi-presentation/gh-pages/assets/8.44ae1fa1.jpeg') center / cover;
}
.slide4 {
  background: rgb(64, 255, 242);
  background: url('https://raw.githubusercontent.com/Yuri-Pashkevich/-torgi-presentation/gh-pages/assets/9.5b9cf5b5.jpg') center / cover;
}

.title {
  padding: 1.25rem;
  h2 {
    margin-bottom: 0.2rem;

  }
}

.mask {
  padding: 1rem 1.25rem;
  background-color: var(--grey-900);
  opacity: 0.5;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  & div {
    margin-bottom: .7rem;
  }
}

.buttons {
  position: absolute;
  top: calc(50% - 24px);
  width: 100%;
  font-size: 3rem;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  & svg {
    filter: drop-shadow(0 0 2px rgb(0 0 0 / 0.4));
    cursor: pointer;
  }
}
