.menu {
    background-color: var(--white);
}

.menu_list {
    border-bottom: 1px solid var(--grey-200);
    border-left: 1px solid var(--grey-200);
    border-right: 1px solid var(--grey-200);
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding: .7rem .7rem;
    & .menu_item:not(:last-child) {
        border-right: 1px solid var(--grey-300);
        padding-right: 1.25rem;
    }
}

.menu_item {
    font-size: 1rem;
    cursor: pointer;
    font-weight: 400;
    color: var(--grey-900);
    // &.active {
    //     color: var(--amber-900);
    // }
    &:not(.active):hover {
        color: rgb(255, 67, 67);
    }
}